# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env

# Django stuff
*.log
db.sqlite3
media/
staticfiles/
static/

# OS files
.DS_Store
Thumbs.db
